#home {
  text-align: center;

  .content {
    padding: 2    rem 0;
    text-align: left;
    display: inline-block;
    width: 100%;
    max-width: 1024px;

    .airQuality { color: #388E3C; font-weight: bold; }
    .hydroCarbonLevel { color: #388E3C; font-weight: bold; }

    .waterQuality { color: #388E3C; font-weight: bold; }
    .frackingLevel { color: #388E3C; font-weight: bold; }
  }
}
